<div class="container my-5">
  <h2>Лабораторна робота № 8</h2>
  <h4>Тема: Робота з компонентами MVC-RoR проекту</h4>

  <h5 class="my-4 text-center">Завдання для виконання</h5>

  <div class="text-start">
    <p>В лабораторній роботі №7 було створено просту аплікацію для реєстрування користувачів. В цій роботі потрібно додати зручності для роботи з додатком і додати оформлення.</p>
    <p>Послідовність виконання завдань:</p>
    <ul class="list-unstyled">
      <li>1. Відкрити проект ЛР7;</li>
      <li>2. Додати до проекту хедер і футер [1];</li>
      <li>3. У футері розмістити контактну інформацію про розробника;</li>
      <li>4. Приєднати до проекту фреймворк Bootstrap [2];</li>
      <li>5. Вибрати один із готових шаблонів в розділі Navs & Tabs [3], розмістити його у хедері свого проекту;</li>
      <li>6. До пунктів навігації приєднати такі дії "Про проект", "Створити користувача", "Показати всіх користувачів", "Видалити всіх користувачів". Дія "Про проект" повинна відображати завдання до цієї лабораторної роботи;</li>
      <li>7. Видалити дії, які є на сторінках, і продубльовані в навбарі.</li>
    </ul>
  </div>
</div>
