<footer class="bg-dark text-light text-center py-3">
  <div class="container">
    <p class="mb-1">© 2024 Розробник: Roman Budziak</p>
    <p class="mb-1">Email: <a href="mailto:roman.budziak.22@pnu.edu.ua" class="text-light text-decoration-none">roman.budziak.22@pnu.edu.ua</a></p>
    <p class="mb-0">
      Зв'яжіться зі мною: 
      <a href="https://github.com/Nemessi10" target="_blank" class="text-primary text-decoration-none">GitHub</a>
    </p>
  </div>
</footer>
